.btn {
  color: var(--black);
  border-radius: 100px;
  padding: 10px 20px;
  box-shadow: var(--shadow);
  min-width: 100px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  background: white;
  box-shadow: var(--shadow);
}

.wrapper {
  /* padding: 30px; */
}

.section {
  padding: 30px;
}
.section-title {
  text-align: center;
  font-size: 20px;
}

/* Divider and Package Type */
.divider {
  color: var(--gray);
}
.package-type {
  color: var(--pink);
}