@import '/global/colors';

.nav {
  .logo {
    margin: auto;
    text-align: center;

    a > img {
      width: 500px;
      height: 500px;
      padding: 10px 0;
      margin-bottom: 30px;

      @media (min-width: 690px) {
        margin-left: 164px;
      }
    }
  }


  ul {
    margin: 0;
    padding: 30px 0;
    display: flex;

    li {
      // margin: 0 auto;
      flex: 1;
      list-style: none;
      text-align: center;
      font-size: 25px;
    }
  }

  /* Nav link colors */
  .blue {
    color: $blue;
  }
  .pink {
    color: $pink;
  }
  .green {
    color: $green;
  }
}