#packages__travel-fee {
  color: var(--gray);
  font-size: 15px;
  text-align: center;
  display: block;
  font-style: italic;
}

.packages__container {
  display: flex;
  flex-direction: column;
  margin: 100px 0;
}
.packages__title {
  margin-top: 0;
}
.packages__container button {
  width: 150px;
  text-align: center;
  margin: 10px auto;
  padding: 13px;
}

.packages__wrapper {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

.packages__content {
  flex: 1;
  margin: auto;
  text-align: center;
}
.packages__content ul {
  display: flex;
  flex-direction: column;
  display: inline-block;
}
.packages__content ul li {
  list-style-type: disc;
  margin-top: 10px;
  text-align: left;
}
.packages__content ul .package-price {
  list-style: none;
}

.packages__img {
  display: none;
}

.packages__guest {
  color: var(--p);
}

/* Media Query */
@media screen and (min-width: 700px) {
  .packages__content {
    margin-right: 10px;
    text-align: left;
  }

  .packages__img {
    display: block;
    max-width: 350px;
  }
  .packages__img img {
    width: 100%;
  }

  .packages__content ul {
    margin-left: 20px;
  }
}