$shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
$pink: #ED6EAE;
$blue: #63DDFB;
$orange: #F6BE5F;
$green: #CBFC54;
$purple: #AB67DF;
$p: #3d3c3c;
$lightgray: #BCC6CC;
$gray: #707070;
$black: #000;
$white: #FFF;